*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
section{
    background-color:#ededed;
    width: 500px;
    height: auto;
    padding: 20px;
    margin-top: 40px;
    border: 1px solid black;
}

h3{
    font-size: 13px;
}
h2{
    font-size: 21px;
}

img{
    width: 280px;
    height: 200px;
    margin: 10px;
}

label{
    font-size: 14px;
    font-weight: bold;
}


#Informacion {
    text-align: justify;
    max-width: 600px;
    margin: 0 auto;
}


#imagenCoctel {
    max-width: 100%; 
    height: 200px;
    width: 200px;
    display: block;
    margin-top: 10px;
    text-align: center;
}
h1{
    font-size: 18px;
}


#coctelFormulario{
    text-align: justify;
}

input{
    margin-left: 10px;
    margin-right: 10px;
    width: 240px;
}

#btnLimpiar{
    margin-left: 240px;
}
